<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order Name</th>
                    <th scope="col">Account Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <th scope="row">{{order.id}}</th>
                    <td>{{order.nodeName}}</td>
                    <td>{{order.accountId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>